.chat-wrp {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    cursor: pointer;
    transition: all .2s cubic-bezier(.175,.885,.32,1.275);
    opacity: 1;
    &.hide {
        z-index: -1;
        pointer-events: none;
        opacity: 0;
        transform: scale3d(.5,.5,.5);
    }
    .cls-1 {
        fill: #fff;
        stroke: #000;
        stroke-linecap:round;
        stroke-linejoin:round;
        stroke-width:2px
    }
}
@media screen and (max-width: 1024px) {
    .chat-wrp {
        bottom: 35px;
        right: 30px;
    }
}
@media screen and (max-width: 767px) {
    .chat-wrp {
        bottom: 20px;
        right: 15px;
    }
}